{% extends 'base.html.twig' %}

{# {% form_theme form 'authentification/forms/themes/inscription.html.twig' %} #}



{% block body %}
	
	
	<div class ="row mt-5">

		{# Affichage du Titre #}
		<div class="col-12 col-sm-12 col-md-4 offset-md-4">
			<h1 class="ecritureTitre"><u>Contact</u></h1>
		</div>
		{# Fin d'affichage du Titre #}


	
	
		{# Affichage du formulaire de contact #}
		<div class="col-12 col-md-4 offset-md-4" style="">
			{{ form_start ( form  ) }}
			    <div class="form-row">
			    	<div class="form-group col-md-12">
						{{ form_errors(form) }}
					</div>
			    	<div class="form-group col-12 col-md-12">
			        	{{ form_label(form.de) }}
			        	{{ form_errors(form.de) }}
			    		{{ form_widget(form.de) }}
			    		{{ form_help(form.de) }}
			        </div>
			        <div class="form-group col-12 col-md-12">
			        	{{ form_label(form.message) }}
			        	{{ form_errors(form.message) }}
			        	{{ form_widget(form.message) }}
			        </div>
					<div class="form-group col-md-12 text-right">
						{{ form_label(form.captcha) }}
						{{ form_widget(form.captcha) }}
						{{ form_widget(form.save) }}
			        </div>
			    </div>
			{{ form_end(form) }}
		</div>
		{# Fin d'affichage du formulaire de contact #}


	{# Début de l'insertion du JavaScript #}
	{% block javascripts %}
	    <script src="{{ asset('js/recaptcha.js') }}"></script>
	{% endblock %}
	{# Fin de l'insertion du JavaScript #}


{% endblock %}