
{% extends 'base.html.twig' %}

{% form_theme form '@EWZRecaptcha/Form/ewz_recaptcha_widget.html.twig' %}

{% block body %}
	<div class ="row mt-4">
		<div class="col-12 col-sm-12 col-md-4 offset-md-4">
			<h1 class="text-secondary"><u><b>Inscription</b></u></h1>
		</div>
	</div>

	<!-- Formulaire d'inscription -->
	{% if error is defined %}
		<div class ="row">
			<div class="col-12 col-sm-12 col-md-4 offset-md-4 alert alert-danger" role="alert">
			  {{ error.messageKey|trans(error.messagedata, 'security', "Fr") }}
			</div>
		</div>
	{% endif %}

	<div class="row">
		
	</div>
	

	<div class="col-12 col-sm-12 col-md-4 offset-md-4" style="">
		{{ form_start ( form , { 'attr' : { 'novalidate' : 'novalidate' }} ) }}
		    <div class="form-row p-2">
		    	<div class="form-group col-md-12">
					{{ form_errors(form) }}
				</div>
		    	<div class="form-group col-md-12">
		        	{{ form_label(form.nom) }}
		        	{{ form_errors(form.prenom) }}
		    		{{ form_widget(form.nom, {
		        		'attr': {'class': 'form-control-lg'}}) }}
		        </div>
		        <div class="form-group col-md-12">
		        	{{ form_label(form.prenom) }}
		        	{{ form_errors(form.prenom) }}
		        	{{ form_widget(form.prenom, {
		        		'attr': {'class': 'form-control-lg'}}) }}
		        </div>
		        <div class="form-group col-md-12">
		        	{{ form_label(form.email) }}
		    		{{ form_widget(form.email, {
		        		'attr': {'class': 'form-control-lg'}}) }}
		        	<small id="emailHelp" class="form-text text-muted">L'adresse email doit être valide pour activer le compte.</small>
		        </div>
		    	<div class="form-group col-md-12">
		        	{{ form_label(form.password.first) }}
		    		{{ form_widget(form.password.first,  {
		        		'attr': {'class': 'form-control-lg'}}) }}
		        </div>
		        <div class="form-group col-md-12">
		        	{{ form_label(form.password.second) }}
		    		{{ form_widget(form.password.second,  {
		        		'attr': {'class': 'form-control-lg'}}) }}
		        </div>
				<div class="form-group col-md-12">
				{{ form_widget(form.recaptcha) }}
				</div>
				<div class="form-group col-md-12 text-right">
		        	{{ form_label(form.Envoyer) }}
		    		{{ form_widget(form.Envoyer, {
		        		'attr': {'class': 'form-control-lg btn btn-info'},
		                'label' : "S'incrire"}) }}
		        </div>
		    </div>
		{{ form_end(form) }}
	</div>

{% endblock %}