<h4>Bonjour,</h4>

<blockquote class="ml-4 mt-3">

	<p>{{ message is defined ? message : 'Votre message ici' }}</p>


	{# lien url pour accéder au formulaire d'ajout de contact. #}
	<p><b><a href="{{ url is defined ? url : '#' }}">Je souhaite remplir mes informations.</a></b></p>


	<p><i>Cette invitation n'est pas automatique. Elle est émise manuellement par {{ app.user.prenom }} {{ app.user.nom }} depuis le site www.carnet-adresse.fr.<br>
	Si vous souhaitez ne plus recevoir d'invitation depuis ce site, merci de <a href="{{ urlStop is defined ? urlStop : '#' }}">cliquer ici</a>.</i></p>

	
</blockquote>

<p>En vous remerciant<br>
Le Site Carnet-Adresse.fr</p>
