

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-row">
        <div class="form-group col-12 col-md-12 ">
            {{ form_errors(form) }}
        </div>
        <div class="form-group col-12 col-md-12">
            {{ form_label(form.destinataires) }}
            {{ form_widget(form.destinataires) }}
        </div>
        <div class="form-group col-12 col-md-12">
            {{ form_label(form.message) }}
            {{ form_widget(form.message) }}
            {{ form_help(form.message) }}
        </div>
        <div class="form-group col-12 col-md-12 text-right">
            {{ form_widget(form.captcha) }}
            {{ form_label(form.save) }}
            {{ form_widget(form.save) }}
        </div>
       
    </div>
{{ form_end(form) }}




