
{% extends 'base.html.twig' %}



{% block body %}

  {# Titre de la page #}
  <div class="row mt-4">
    <h1 class="col-12 col-md-6 offset-md-5 text-secondary"><u><b>Liste des Contacts</b></u></h1>
  </div>


  {#  Menu Alphabet #}
  <div class="row mt-2">
    <div class="col-12">
      <nav>
        <ul class="pagination justify-content-md-center table-responsive">
          {% for uneletter in 'A'..'Z' %}

            {% if  uneletter == letter %}
              <li class="page-item active"><span class="page-link">{{ uneletter }}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="{{ path('VoirFiches', {'Letter': uneletter}) }}">{{ uneletter | upper }}</a></li>
            {% endif %}

          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  {#  Fin du Menu Alphabet #}


  {% if fiches | length > 0 %}

      {# Menu Pagination #}
      <div class="row mt-2">
        <div class="col-12 ">
          {{ knp_pagination_render(fiches) }}
        </div>
      </div>


      {# Message d'information pour l'utilisateur #}
      {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
          <div class="row mt-2">
            <div class="col-12 col-4 offset-md-4 alert alert-{{ label }}" role="alert"> {{ message }} </div>
          </div>
        {% endfor %}
      {% endfor %}   


      {# Affichage des fiches #}
      <div class ="row">
        {% for fiche in fiches %}
              <div class="col-12 ml-4 col-md-2 {{ loop.first ? 'ml-md-4' : '' }}">
                {# Descriptif de la fiche #}
                <div class="row">
                  <div class="card text-white bg-dark mb-3 mt-3" style="max-width: 18rem;">
                    <div class="card-header"><h5>{{ fiche.getNomComplet }}</h5></div>
                    <div class="card-body bg-white text-dark">
                      <p class="card-text"><i>{{ fiche.adresse }}</i></p>
                    </div>
                    <ul class="list-group list-group-flush text-dark">
                      <li class="list-group-item bg-light">{{ fiche.TelPortable }}</li>
                      <li class="list-group-item bg-light">{{ fiche.TelFixe }}</li>
                      <li class="list-group-item bg-light">{{ fiche.email }}</li>
                    </ul>
                    <div class="card-footer bg-dark text-muted">Edité le {{ fiche.getModifierle |date("d/m/Y") }}</div>
                  </div>
                </div>
                {# Fin de descriptif de la fiche #}
              </div>    
        {% endfor %}
      </div>
      {# Fin d'affichage des fiches #}


  {% else %}

     {# Affichage du message lorsqu'ils n'y a aucun enregistrement #}
      <div class="col-12 col-md-4 offset-md-4"><b>Aucun contacts d'enregistrés.</b></div>


  {% endif %}


{% endblock %}